Downloads/Composer-Setup.exe
Downloads/php-8.2.7-Win32-vs16-x64.zip
materiaisestudos
/aula001/
/aula002/
/aula003/
/aula004/
/aula005/


/tic-tac-toe/
.vscode

aula007/buscador-criticas/vendor
.env
dbcriticas.sqlite
buscador.log
